<%- include ('./partials/header.ejs') %>
<div class="container-fluid pt-8">
    <div class="sortable">
        <div class="row">
            <% idData.forEach(function(card){ %>
                <div class="col-md-12 col-lg-4">
                    <div class="card shadow">
                        <div class="card-header ">
                            <h2 class="mb-0 "><%= card.type %></h2>
                        </div>
                        <div class="card-body text-center">
                            <img class="avatar avatar-xxl brround" src="/img/faces/male/18.jpg" alt="avatra-img">
                            <h4 class="h4 mb-0 mt-3 font-600"><%= card.name %></h4>
                            <p class="card-text text-sm"><%= card.serial %></p>
                        </div>
                    </div>
                </div>
                <% }); %>

            <!-- <div class="col-md-12 col-lg-4">
                <div class="card shadow">
                    <div class="card-header ">
                        <h2 class="mb-0 ">Aadhar Card</h2>
                    </div>
                    <div class="card-body text-center">
                        <img class="avatar avatar-xxl brround" src="/img/faces/male/18.jpg" alt="avatra-img">
                        <h4 class="h4 mb-0 mt-3 font-600">James Thomas</h4>
                        <p class="card-text text-sm">1</p>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <div class="card shadow">
                    <div class="card-header ">
                        <h2 class="mb-0 ">Pan card</h2>
                    </div>
                    <div class="card-body text-center">
                        <img class="avatar avatar-xxl brround" src="./img/faces/female/18.jpg" alt="avatra-img">
                        <h4 class="h4 mb-0 mt-3 font-600">Lilly Thomas</h4>
                        <p class="card-text text-sm">2</p>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <div class="card shadow">
                    <div class="card-header ">
                        <h2 class="mb-0 ">Aadhar card</h2>
                    </div>
                    <div class="card-body text-center">
                        <img class="avatar avatar-xxl brround" src="/img/faces/male/12.jpg" alt="avatra-img">
                        <h4 class="h4 mb-0 mt-3 font-600">Daneil Jivin</h4>
                        <p class="card-text text-sm">3</p>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>

<%- include ('./partials/footer.ejs') %>